html {
    font-size: 10px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(19, 19, 19);
    background-color: rgb(145, 171, 194);
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin: 4rem auto 1rem;
}

.subtitle {
    margin: 0;
    font-size: 1.2rem;
}

.scoreboard {
    height: 10rem;
    max-width: 1000px;
    display: flex;
    font-size: 2rem;
    margin: 5rem auto 0;
}

.score {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.score-description {
    height: 10rem;
}

.round {
    font-weight: bold;
    font-size: 2rem;
}

.play-area {
    font-size: 1.8rem;
    max-width: 1000px;
    margin:  7rem auto;
    display: flex;
}

.player {
    width: 50%;
}

button {
    border: 1px solid rgb(85, 100, 114);
    padding: 1rem;
    margin: 1.5rem .4rem;
    background-color:rgb(145, 171, 194);
    color: rgb(145, 51, 51);
}

button:hover {
    background-color: rgb(85, 100, 114);
}

button:active {
    background-color:rgb(145, 171, 194);
    color: whitesmoke;
}

.submit-button {
    display: none;
    font-size: 2rem;
    background-color: white;
}

.submit-button:hover {
    background-color: red;
    color: white;
}

.show-submit {
    display: inline-block;
}